/* здесь используйте глобальные переменные */
//Colors
$basic-dark-color: #000000;
$primary-dark-color: #444444;
$secondary-dark-color: #111111;
$tertiary-dark-color: #222222;
$quaternary-dark-color: #666666;
$quinary-dark-color: #cdcdcd;
$senary-dark-color: #d3d3d3;
$senary-dark-color: #666666;

$basic-light-color: #ffffff;
$basic-light-color-opacity: rgba(255, 255, 255, 0.3);
$primary-light-color: #f2f2f2;
$secondary-light-color: #eaeaea;
$tertiary-light-color: #c4c4c4;
$quaternary-light-color: #ebebeb;
$quinary-light-color: #e6e6e6;
$senary-light-color: #d9d9d9;
$senary-light-color: #eaeaea;

$basic-special-color: #68b738;
$primary-special-color: rgba(104, 183, 56, 0.85);
$secondary-special-color: #5eaa2f;
$tertiary-special-color: #64a83b;
$quaternary-special-color:#63a63c;
$quinary-special-color: #62a53b;

// Fonts
$primary-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
