/* здесь используйте глобальные переменные */

//Colors
$basic-dark-color: #000000;
$primary-dark-color: #444444;
$secondary-dark-color: #111111;
$tertiary-dark-color: #222222;
$quaternary-dark-color: #666666;
$quinary-dark-color: #cdcdcd;


$basic-light-color: #ffffff;
$basic-light-color-opacity: rgba(255, 255, 255, 0.3);
$primary-light-color: #f2f2f2;
$secondary-light-color: #eaeaea;
$tertiary-light-color: #c4c4c4;
$quaternary-light-color: #ebebeb;
$quinary-light-color: #e6e6e6;
$senary-light-color: #d9d9d9;

$basic-special-color: #68b738;
$primary-special-color: rgba(104, 183, 56, 0.85);
$secondary-special-color: #5eaa2f;

// Fonts
$primary-font-family: "Lato", sans-serif;
$secondary-font-family: "Oswald", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;


// $f-main: #444444;
// $f-secondary: #000000;
// $f-minor: #222222;
// $f-trifle: #111111;
// $f-highlighted: #ffffff;
$f-average: #666666;

// $bg-main: #68b738;
// $bg-main-dim: #5eaa2f;

// $bg-secondary: #f2f2f2;
// $bg-secondary-dim: #ebebeb;
// $bg-secondary-dull: #cdcdcd;
// $bg-secondary-rare: #bababa;

// $bg-extra: #d9d9d9;
// $bg-extra-dim: #e6e6e6;
$bg-extra-dull: #eaeaea;
// $bg-extra-rare: #d3d3d3;
// $bg-extra-sparse: #d9d9d9;
// $bg-extra-scarce: #e7e7e7;

// $error: #ff8282;
// $error-minor: #b63841;
