.about {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 45px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.about__item {
  position: relative;

  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;

    width: 60px;
    height: 60px;

    background-color: $basic-special-color;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  &:nth-child(1)::before {
    background-image: url("../../icons/stack.svg#icon-about-good");
    background-size: 30px 32px;
  }

  &:nth-child(2)::before {
    background-image: url("../../icons/stack.svg#icon-about-cook");
    background-size: 26px 28px;
  }

  &:nth-child(3)::before {
    background-image: url("../../icons/stack.svg#icon-about-time");
    background-size: 25px 30px;
  }

  &:nth-child(4)::before {
    background-image: url("../../icons/stack.svg#icon-about-result");
    background-size: 26px 31px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    min-height: 280px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 280px;
      color: $primary-light-color;
    }

    &:nth-child(1)::after {
      content: "1";

      @media (min-width: $tablet-width) {
        left: 118px;
      }
    }

    &:nth-child(2)::after {
      content: "2";

      @media (min-width: $tablet-width) {
        left: 110px;
      }
    }

    &:nth-child(3)::after {
      content: "3";

      @media (min-width: $tablet-width) {
        left: 110px;
      }
    }

    &:nth-child(4)::after {
      content: "4";

      @media (min-width: $tablet-width) {
        left: 112px;
      }
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.about__description {
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    row-gap: 37px;

    width: 245px;
    padding-top: 110px;
    padding-left: 0;
  }
}
