//before-after style
.slider {
  position: relative;

  @media (min-width: $tablet-width) {
    top: 230px;
    width: 100%;
    height: 462px;
    background-color: $bg-extra-dull;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      // width: 100vw; почему-то выглядывает ушко справа исправил на 100%
      width: 100%;
      height: 100%;
      background-color: $bg-extra-dull;
      box-shadow: -200px 0 0 $bg-extra-dull;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 500px;
    padding: 0;
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.slider__container {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    top: -151px;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 770px;
    margin: 0;
  }
}

.slider__images {
  @include list-resseting;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider__image--after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider__before {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 50% 0 0);
}

.slider__after {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 0 0 50%);
}

.slider__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: $basic-light-color;
  border: 2px solid $f-average;
  border-radius: 50%;
  translate: -50% -50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/icon-example-slider-mobil.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $f-average;
    translate: -50% -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: -108px;
    left: 50%;
    width: 4px;
    height: 108px;
    background-color: $f-average;
    translate: -50% 0;
    box-shadow: 0 144px 0 0 $f-average;
  }

  &:hover {
    border-color: $basic-special-color;

    &::before {
      background-color: $basic-special-color;
    }

    &::after {
      background-color: $basic-special-color;
      box-shadow: 0 144px 0 0 $basic-special-color;
    }
  }

  &:active {
    border-color: rgba(94, 170, 47, 0.6);

    &::before {
      background-color: rgba(94, 170, 47, 0.6);
    }

    &::after {
      background-color: rgba(94, 170, 47, 0.6);
      box-shadow: 0 144px 0 0 rgba(94, 170, 47, 0.6);
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: -236px;
      height: 236px;
      box-shadow: 0 274px 0 0 $f-average;
    }

    &:hover {
      &::after {
        box-shadow: 0 274px 0 0 $basic-special-color;
      }
    }

    &:active {
      &::after {
        box-shadow: 0 274px 0 0 rgba(94, 170, 47, 0.6);
      }
    }
  }
}

