.cards {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.cards__item {
  padding: 21px 20px 25px;
  border-top: 1px solid $quaternary-light-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 511px;
    border-top: none;
    padding: 0 37px 40px;
    background: linear-gradient($basic-light-color 16%, $secondary-light-color 16%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 37px 40px;
  }
}

.cards__item:last-child {
  border-bottom: 1px solid $quaternary-light-color;
}

.cards__item-wrapper {
  display: flex;
  flex-direction: column;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    min-height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 32px;
  }
}

.cards__link-img {
  width: 140px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.cards__title {
  width: 76px;
  margin: 0;
  margin-bottom: 13px;

  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $tertiary-dark-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.cards__list {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.cards__list-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $quinary-dark-color;
    padding-bottom: 6px;
    margin-bottom: 5px;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    // border-bottom: 1px solid $quinary-dark-color;
    padding-bottom: 6px;
    margin-bottom: 7px;
  }
}

.cards__list,
.cards__slogan {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.cards__description {
  margin: 0;
  text-align: right;
}

.cards__item--show-more {
  position: relative;
  padding-top: 78px;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: $senary-dark-color;
    top: 38px;
    left: 50%;
    margin-left: -15px;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 77px;
      margin-left: -30px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: $senary-dark-color;
    top: 38px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 77px;
      margin-left: -29px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 429px;
    background: none;
    border: 2px solid $primary-light-color;
  }
}

.cards__item--show-more .cards__title {
  width: auto;
  color: $secondary-dark-color;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 20px;
  }
}

.cards__item--show-more .cards__slogan {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 auto 80px;
  }
}


.cards__link {
  font-size: 16px;
  line-height: 20px;
}
