.catalog__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $secondary-font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-dark-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;

    font-size: 60px;
    line-height: 60px;
  }
}
