.contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.contacts__wrapper-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;

    display: flex;
    justify-content: space-between;
    width: 565px;
    height: 199px;

    padding: 60px 80px;

    background-color: $basic-light-color;
  }
}

.contacts__lead {
  margin: 0;

  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-dark-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 165px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;

    text-align: right;
    justify-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-start;
    width: 157px;

    text-align: left;
  }
}

.contacts__map-container {
  min-width: 100%;
}

.page__body--catalog .contacts__wrapper-inner {
  background-color: $primary-light-color;

  @media (min-width: $desktop-width) {
    background-color: $basic-light-color;
  }
}
