.diet__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.diet__item {
  background-color: $primary-light-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    background-color: $basic-special-color;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:nth-child(1) {
    &::after {
      top: 21px;
      left: 27px;
      height: 50px;
      width: 53px;
      background-image: url("../../icons/stack.svg#icon-diet-cat-slim");
      background-size: 36px 50px;
    }
  }

  &:nth-child(2) {
    &::after {
      top: 35px;
      left: 12px;
      height: 50px;
      width: 67px;
      background-image: url("../../icons/stack.svg#icon-diet-cat-muscle");
      background-size: 67px 28px;
    }
  }
}

.diet__title {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-dark-color;
}

.diet__link {
  position: relative;
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 16px;
  color: $basic-dark-color;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-image 1s ease;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -35px;
    margin-top: -4.5px;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#icon-arrow-short");
    background-color: transparent;
  }

  &:hover::after {
    background-image: url("../../icons/stack.svg#icon-arrow-long");
  }
}
