.diet__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.diet__item {
  background-color: $primary-light-color;
}

.diet__title {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.diet__link {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 16px;
  color: $basic-dark-color;
  text-transform: uppercase;
  text-decoration: none;
}
