.example {
  outline: 5px solid rgba(255, 0, 149, 0.8);
  outline-offset: -5px;

  padding-left: 20px;
  padding-right: 20px;

  background-color: $secondary-light-color;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $basic-light-color;
    background-image: linear-gradient($basic-light-color 55%, $secondary-light-color 55%);
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.example__wrapper {
  outline: 5px solid rgba(47, 0, 255, 0.8);
  outline-offset: -5px;
}

.example__termin {
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $basic-dark-color;
  text-align: center;
}

.example__description {
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__item--price .example__termin,
.example__item--price .example__description {
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 20px;
  color: $basic-dark-color;
  text-align: center;
  text-transform: uppercase;
}
