.extra-cards__item {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 19px;

  border-top: 1px solid $quinary-dark-color;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra-cards__item:last-child {
  border-bottom: 1px solid $quinary-dark-color;
}

.extra-cards__content {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.extra-cards__title {
  margin: 0;
  margin-bottom: 11px;

  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $tertiary-dark-color;
  text-transform: uppercase;
}

.extra-cards__list {
  margin: 0;
  margin-bottom: 4px;

  display: flex;
  justify-content: space-between;
}

.extra-cards__description {
  margin: 0;

  text-align: right;
}
