.extra-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.extra-products__promo {
  min-height: 290px;
  padding: 58px 58px 43px;

  background-color: $primary-special-color;
  background-image: url("../../images/extra-products-bg-desktop@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 60px 125px 60px 77px;
  }

  @media (min-width: $desktop-width) {
    min-height: 290px;
    padding: 58px 58px 43px;
  }
}

.extra-products__promo-slogan {
  // position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;


  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-light-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
  }
}

.extra-products__promo-slogan::before {
  display: block;
  content: "";
  margin: 0 auto 48px;
  width: 78px;
  height: 80px;

  background-image: url("../../icons/icon-subscription-gift.svg");

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 48px;
  }
}
