.hero {
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    padding-bottom: 526px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-bottom: 184px;
  }
}

.hero__header {
  min-height: 302px;
  padding-top: 27px;

  font-family: $secondary-font-family;
  color: $basic-light-color;

  background-color: $basic-special-color;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/hero-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/hero-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/hero-bg-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/hero-bg-mobile@2x.jpg") type("image/jpeg") 2x
    ),
    linear-gradient($tertiary-special-color, $quaternary-special-color);
  background-size: 320px 302px, 320px 302px, 100vw 302px;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $tablet-width) {
    min-height: 0;
    padding-top: 62px;

    color: $basic-dark-color;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 107px;
    padding-left: 0;
    z-index: 2;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 40px;
  }
}

.hero__lead {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__img {
  display: block;
  margin: 0 auto;
  margin-top: -135px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 263px;
    left: auto;
    right: 30px;
    z-index: -1;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 26px;
    right: 221px;
    left: auto;
    z-index: 1;
  }
}

.hero__link {
  margin: 0 20px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    z-index: 2;

    width: 244px;
    margin: 0;
    padding: 14px;
  }
}
