.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;

  color: $basic-dark-color;

  background-color: $basic-light-color;
  border-bottom: 1px solid $senary-light-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 58px;
    padding-left: 0;
    padding-right: 0;

    color: $basic-light-color;

    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 65px;
  margin-left: 20px;


  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-image {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.page__body--index .main-header {
  @media (min-width: $desktop-width) {
    background: linear-gradient(90deg, $basic-light-color 50vw, rgba(76, 151, 29, 0.85) 50vw);
  }
}

.page__body--index .main-header__container {
  @media (min-width: $desktop-width) {
    background-color: transparent;
    background-image:
      linear-gradient(90deg, rgba(104, 183, 56, 0.85) 1040px, $quinary-special-color 1041px),
      image-set(
        url("../../images/hero-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/hero-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/hero-bg-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../images/hero-bg-desktop@2x.jpg") type("image/jpeg") 2x
      );
    background-position: 50vw 0, 50vw 0;
    background-repeat: no-repeat;
    background-size: 100% 694px, 1041px 694px;
  }
}
