.main-header {
  display: flex;
  flex-direction: column;

  color: $basic-dark-color;
  background-color: $basic-light-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    color: $basic-light-color;

    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  height: 38px;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}
