.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 20px;
  color: $basic-dark-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $basic-light-color;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.main-nav__toggle {
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#icon-button-close");
  background-color: $basic-dark-color;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
