.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;

  color: $basic-dark-color;

  background-color: $basic-light-color;
  border-bottom: 1px solid $senary-light-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 58px;
    padding-left: 0;
    padding-right: 0;

    color: $basic-light-color;

    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 65px;
  margin-left: 20px;


  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-image {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
