.main-nav {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-nav__list {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 436px;
  }

  @media (min-width: $desktop-width) {
    max-width: 475px;
  }
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 20px;
  color: $basic-dark-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    color: $basic-dark-color;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $basic-light-color;
  }
}


.main-nav__toggle {
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#icon-button-close");
  background-color: $basic-dark-color;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
