.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 20px;
  color: $basic-dark-color;
  text-align: center;
  background-color: $basic-light-color;
  text-decoration: none;
  text-transform: uppercase;
}
