.map {
  min-height: 362px;

  background-color: $primary-dark-color;
  background-image: url("../../images/map-mobile@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
