.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  padding: 20px;

  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;

  background-color: $quaternary-dark-color;
  mask-position: center;
  mask-repeat: no-repeat;

  &:hover,
  &:focus-visible {
    background-color: $basic-special-color;
  }

  &:active {
    background-color: $basic-special-color;
    opacity: 0.3;
  }
}

.social-list__link--vk {
  mask-image: url("../../icons/stack.svg#icon-social-vk");
}

.social-list__link--youtube {
  mask-image: url("../../icons/stack.svg#icon-social-youtube");
}

.social-list__link--telegram {
  mask-image: url("../../icons/stack.svg#icon-social-telegram");
}
