.subscription {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 104px;
  }
}

.subscription__title.title {
  position: relative;

  max-width: fit-content;
  margin: 0;
  margin-bottom: 32px;

  background-color: $basic-light-color;
  box-shadow: -40px 0 0 0  $basic-light-color;

  &::before {
    content: "";
    position: absolute;
    top: 0.45em;
    right: 0;
    z-index: -1;

    width: 100vw;
    height: 2px;

    background: $basic-special-color;
    box-shadow: calc(100vw + 40px) 0 0 0 $basic-special-color;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 72px;

    font-size: 40px;
    line-height: 40px;
  }
}

.subscription__description {
  margin: 0;
  margin-bottom: 24px;

  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 24px;
  color: $basic-dark-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}
