.subscription-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 234px;
    padding-right: 234px;
  }
}

.subscription-form__email {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 59%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 66%;
  }
}

.subscription-form__input {
  width: 100%;
  padding: 12px;

  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 30px;
  color: $primary-dark-color;
  text-transform: uppercase;

  border: 1px solid $quinary-dark-color;
  border-radius: 0;
}

.subscription-form__input::placeholder {
  color: $primary-dark-color;
}

.subscription-form__input:disabled {
  background-color: #f2f2f2;
  opacity: 0.3;
}

.subscription-form__button {
  padding: 15px;

  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    width: 34%;
  }
}
