.title {
  font-family: $secondary-font-family;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-dark-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog .title {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }
}
